name: Python Check

on:
  pull_request:
    paths:
      - "**.py"

permissions:
  contents: read

jobs:
  lint:
    name: Lint Python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5

      - name: Check with ruff
        run: |
          uvx ruff check .
          uvx ruff format --check .
